.dark-high-contrast {
  --md-sys-color-primary: rgb(205 253 188);
  --md-sys-color-surface-tint: rgb(165 211 150);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(161 207 146);
  --md-sys-color-on-primary-container: rgb(0 15 0);
  --md-sys-color-secondary: rgb(228 245 218);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(183 200 174);
  --md-sys-color-on-secondary-container: rgb(3 14 2);
  --md-sys-color-tertiary: rgb(201 249 252);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(156 203 206);
  --md-sys-color-on-tertiary-container: rgb(0 14 15);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(17 20 15);
  --md-sys-color-on-background: rgb(225 228 218);
  --md-sys-color-surface: rgb(17 20 15);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(67 72 63);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(236 242 229);
  --md-sys-color-outline-variant: rgb(191 197 184);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(225 228 218);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(42 81 33);
  --md-sys-color-primary-fixed: rgb(192 239 176);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(165 211 150);
  --md-sys-color-on-primary-fixed-variant: rgb(0 22 0);
  --md-sys-color-secondary-fixed: rgb(215 232 205);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(187 203 178);
  --md-sys-color-on-secondary-fixed-variant: rgb(8 20 5);
  --md-sys-color-tertiary-fixed: rgb(188 235 238);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(160 207 210);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 20 22);
  --md-sys-color-surface-dim: rgb(17 20 15);
  --md-sys-color-surface-bright: rgb(77 81 74);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(29 33 27);
  --md-sys-color-surface-container: rgb(46 50 43);
  --md-sys-color-surface-container-high: rgb(57 61 54);
  --md-sys-color-surface-container-highest: rgb(68 72 65);
}
